<div class="logoBanner" id="logo-banner-test-{{ section.id }}">test</div>

{% schema %}
  {
    "name": "Logos-Banner",
    "tag": "section",
    "class": "logoBanner",
    "settings": [],
    "disabled_on": {
      "groups": ["header","footer"]
    }
  }
{% endschema %}